/* src/app/globals.css */
@import "tailwindcss";

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --radius: 0.75rem;
  }
}

/* Menggunakan CSS Murni agar bebas error di Tailwind v4 */
.glass-panel {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.text-gradient-blue {
  background-image: linear-gradient(to right, #2563eb, #22d3ee);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-poppins);
}